<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>

  <p class="lead">Blacklight is a multi-institutional open-source collaboration building a better discovery platform framework.</p>

  <p>
    <%= link_to 'Read the Documentation', 'https://github.com/projectblacklight/blacklight/wiki', class: 'btn btn-primary' %>
    <%= link_to 'See Examples', 'http://projectblacklight.org', class: 'btn btn-light' %>
  </p>
</div>

<div id="getting-started">
  <h2>Welcome to my new Blacklight app!</h2>

  <p>Please contact us if you have any questions.</p>
</div>

<%# This is the same panel shown in the Rails welcome template %>
<div id="about" class="card">
  <h2 class='card-header collapsed collapse-toggle' data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#about-content" data-target="#about-content"><a href="/rails/info/properties">About your application&rsquo;s environment</a></h2>
  <div id="about-content" class="card-body collapse"></div>
</div>

<script>
  Blacklight.onLoad(function() {
    $('#about .card-header').one('click', function() {
      $($(this).data('target')).load($(this).find('a').attr('href'));
    });
  });
</script>
